html, body, h1,h2,textarea {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", 'sans-serif';
}
body{
    margin-bottom: 139px;
    background-color: rgba(0, 12, 54, 1);
    color: rgba(255, 255, 255, 1);
}
header, section, .input-field{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1{
    font-size: 2.8125rem;
    padding: 1rem 0.5rem;
    padding-bottom: 2.25rem;
    font-family: "Carter One", 'sans-serif';
}

img{
    width: 99px;
    margin-top: 50px;
}


section{
    gap: 36px;
}

.mood{
    display: flex;
    gap: 20px;
    align-items: flex-start;
}


.mood-input{
    background-color: rgba(59, 72, 119, 1);
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.selected{
    background-color: rgba(81, 224, 138, 1);
    color: rgba(0, 12, 54, 1)
}

textarea{
    width: 70vw;
    resize: none;
    border-radius: 10px;
    background-color: rgba(59, 72, 119, 1);
    font-size: 0.875rem;
    line-height: 1;
    color: white;
    font-weight: 00;
    border: none;
    padding: 0.56rem 0.6875rem;
}

::placeholder{
    color: rgba(5, 6, 12, 1);
}

h2{
    font-size: 1rem;
    line-height: 1;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.top{
    height: 78px;
}
.middle{
    height: 63px;
}
.bottom{
    height: 64px;
}

button, .response h1{
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 1;
}

button{
    width: 70vw;
    height: 71px;
    background-color: rgba(81, 224, 138, 1);
    border: none;
    border-radius: 10px;
    color: rgba(0, 12, 54, 1);
}

.response{
    width: 70vw;
}

.response h2{
    font-weight: 400;
    font-size: 1.125rem;
    margin-top: 1.3125rem;
    line-height: 1;
}

hide{
    display: none;
}

input[type=radio]{
    display: none;
}

input:checked{
    color: aqua;
}


#poster{
    width: 50vw;
    margin: 0px;
}
#description{
    margin: 0px;
}

#title{
    margin-top: 32px;
}